<%- include('../partials/header') %>
<div class="container px-4">
    <h1 class="mt-4">Category Edit</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Category</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 m-auto">
            <div class="card mb-5">
                <div class="card-header">
                    <i class="fab fa-blogger mr-1"></i>
                    Edit
                </div>
                <div class="card-body">
                    <%- include('../../partials/messages.ejs') %> 
                    <form action="/admin/categories/edit/<%= category.slug %>?_method=PUT" method="POST"
                    >
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control " name="name" value="<%= category.name %>">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3">
                            Update
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
