<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= title %> </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!"><%= process.env.APP_NAME %> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link <%= title === 'Home' ? 'active' : '' %>" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link <%= title === 'Contact' ? 'active' : '' %>" href="#!">Contact</a></li>
                        <% if (typeof authUser !== 'undefined') { %>
                            <li class="nav-item"><a class="nav-link" href="/admin/home">Account</a></li>
                            <li class="nav-item">
                                <form action="/logout?_method=DELETE" method="POST">
                                    <button type="submit" class="nav-link btn-link btn">Logout</button>
                                </form>
                            </li>
                        <% } else { %>
                            <li class="nav-item"><a class="nav-link <%= title === 'Login' ? 'active' : '' %>" href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link <%= title === 'Register' ? 'active' : '' %>" href="/register">Register</a></li>
                        <% } %>

                    </ul>
                </div>
            </div>
        </nav>
