<%- include('../partials/header') %>
<div class="container px-4">
    <h1 class="mt-4">Blog Create</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Blog</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>

</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 m-auto">
            <div class="card mb-5">
                <div class="card-header">
                    <i class="fab fa-blogger mr-1"></i>
                    Create
                </div>
                <div class="card-body">
                    <%- include('../../partials/messages.ejs') %> 
                    <form action="/admin/blog/create"
                          method="POST"
                          enctype="multipart/form-data"
                    >
                        <div class="form-group">
                            <label for="name">Title:</label>
                            <input type="text" class="form-control " name="title" value="<%= (typeof blog === 'object') ? blog.title : '' %>">
                        </div>
                        <div class="form-group pt-2">
                            <label for="body">Body</label>
                            <textarea class="form-control" name="body"
                                      id="body" rows="5"><%= (typeof blog === 'object') ? blog.body : null %></textarea>
                        </div>

                        <div class="form-group py-4">
                            <label for="exampleFormControlFile1">
                                Upload image
                            </label>
                            <input type="file" name="image" value="" class="form-control-file " id="exampleFormControlFile1">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">
                            Create
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
